@import url('https://fonts.googleapis.com/css?family=Cinzel:700|Titillium+Web:400,600,700');
@font-face {font-family:"Socialico";src:url("fonts/Socialico.eot?") format("eot"),url("fonts/Socialico.woff") format("woff"),url("fonts/Socialico.ttf") format("truetype"),url("fonts/Socialico.svg#Socialico") format("svg");font-weight:normal;font-style:normal;}
.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1300px;margin: 0 auto;text-align: center;font-family: "Titillium Web"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1100px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/* inline-blocks */
.inbTop{display: inline-block; vertical-align: top;}
.inbMid{display: inline-block; vertical-align: middle;}
.inbBot{display: inline-block; vertical-align: bottom;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.socialico{font-family: "Socialico"}
/*button*/
.btn {font-size: 15px; font-weight: 400; color: #000; display: inline-block; padding: 10px 30px; background: #fff; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: "Cinzel";font-size: 60px;font-weight: 700;color:#166DA9;}
h1 span{display: block;font-family: "Titillium Web"; font-weight: 600; font-size: 32px; color: #333333;margin-top: -25px;}
/*header*/
#header {position: relative;}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0;text-align: right;}
#header nav ul li {position: relative;padding: 33px 0;display: inline-block;vertical-align: middle;max-width: 100px; width: 100%;text-align: center;line-height: 40px; margin-left: 20px;}
#header nav ul li:nth-child(3),#header nav ul li:nth-child(4),#header nav ul li:nth-child(5),#header nav ul li:nth-child(3),#header nav ul li:nth-child(4),#header nav ul li:nth-child(6),#header nav ul li:nth-child(7){line-height: 20px}
#header nav ul li a {font-family: "Titillium Web"; font-weight: 600; font-size: 16px ;color: #323232;}
#header nav ul li.active-menu:after, #header nav ul li:hover:after {content: "";position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);height: 10px; width: 39px; background:#1D7CC0 ;}
#header img.mainLogo{position: absolute;top:0; left:86px; max-width: 314px; width: 22%; z-index: 99999;}
.hdTop{background: #000;text-align: right;}
.hdTop p a.socialico{font-size: 25px; color:#fff;margin-right: 25px;}
.hdTop p{margin: 0 auto;}
.hdTop p.phone{font-family: "Titillium Web"; font-weight: 700; font-size: 30px; color: #fff;margin-left: 10px;}
/*banner*/
#banner {position: relative;background: url(../images/common/bg1.jpg)no-repeat center top;padding: 463px 0 0; text-align: right;z-index: 9999}
#banner .row{max-width: 1300px}
.bnPanel{clip-path: polygon(18% 0%, 100% 0%, 100% 100%, 0% 100%);background: linear-gradient(rgba(31,128,199,0.9),rgba(6,74,113,0.9)); max-width: 879px;margin: 0 0 0 431px;padding: 31px 0 43px;}
.bnPanel p:nth-child(1){font-family: "Cinzel"; font-weight: 700; font-size: 45px; color: #fff;margin: 0 100px 0 175px;max-width: 595px}
.bnPanel p:nth-child(2){font-family: 'Titillium Web'; font-weight: 600; font-size: 28px; margin: 0 100px;color: #fff;}
.bnPanel p{line-height: 45px}
.bnPanel .btn {margin: 10px 100px 0 0;font-family: 'Titillium Web';font-size: 20px;font-weight: 700;color: #fff;display: inline-block;padding: 6px 48px;background: none;border: 1px solid #ffffff;transition: all 0.5s ease;}
.bnPanel .btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}
/*content*/
#content {}
/* welcome-section */
#welcome-section{background: url(../images/common/bg2.jpg)no-repeat center top; background-size: 100%; padding: 146px 0 65px;margin-top: -89px;}
.wlcLeft{max-width: 470px; width: 100%;text-align: left;position: relative;z-index: 1;}
.wlcLeft h1{background: #fff; max-width: 423px; margin-top: -10px;}
.wlcLeft h2{font-family: "Titillium Web"; font-weight: 600; font-size: 28px; color: #DDDDDD;margin-top: -5px;}
.wlcRight{border: 9px solid #EAEAEA; text-align: left;padding: 10px 0;max-width: 794px; width: 100%;margin-left: -186px;}
.wlcRight p{font-family: "Titillium Web"; font-weight: 400; font-size: 17px; color: #323232;max-width: 590px;margin-left: 160px;}
/* service-section */
#service-section{position: relative;background: url(../images/common/bg3.jpg)no-repeat center top; background-size: cover;padding: 40px 0 0;}
#service-section h1{font-size: 72px; color: #fff}
#service-section h4{font-family: "Titillium Web"; font-weight: 400; font-size: 30px; color: #fff;margin: 0 auto 20px;}
#service-section img.sArrow{position: absolute;top: -15px; left: 50%; transform: translateX(-50%);}
.svcImg {box-shadow: 5px 5px 40px -10px; position: relative;}
.svcImg p.service{position: absolute; bottom: 25px; left: 50%;transform: translateX(-50%);font-family: "Titillium Web"; font-weight: 600!important; font-size: 33px!important; color: #fff!important; letter-spacing: 3px;margin: 0 auto!important;}
.svcImg:after{content:""; width: 188px; height: 1px;position: absolute; bottom: 75px; left: 50%; transform: translate(-50%);background: #fff}
.svcImg.mid{margin: 0 25px;}
.svcBot{margin-top: 60px;}
.svcBotLeft .panel {max-width: 540px; width: 100%;border: 9px solid rgba(214,214,214,0.2);padding: 20px 0;}
.svcBotLeft .panel p.phone{font-family: "Titillium Web"; font-weight: 600!important; font-size: 39px!important; color: #fff;margin: 0 auto!important;}
.svcBotLeft .panel p.service-quote{font-family: "Titillium Web"; font-weight: 600!important; font-size: 35px!important; color: #fff;margin: 0 auto!important;line-height: 40px}
.svcBotLeft .socialMedia {margin-top: 100px;}
.svcBotLeft .socialMedia p {font-family: "Titillium Web"; font-size: 17px; color: #323232;margin: 0 auto;}
.svcBotLeft .social{font-size: 46px!important; color: #166DA9!important;letter-spacing: 10px;}
.svcBotRight{max-width: 480px; width: 100%;background: linear-gradient(#1F80C7,#064A71);padding: 30px 0;color: #fff;margin-left: 58px;margin-bottom: -156px;}
.svcBotRight h2{font-family: "Cinzel"; font-weight: 700; font-size: 61px; color: #fff;letter-spacing: 3px}
.svcBotRight form label span.ctc-hide{display: block;text-align: left;margin-left: 70px;font-family: "Titillium Web"; font-weight: 400; font-size: 17px; color: #fff;}
.svcBotRight .ctc-form input[type="text"]{background: #053F61; border: none;width: 376px; height: 40px;}
.svcBotRight .ctc-form textarea{background: #053F61; border: none;width: 376px; height: 80px;}
.svcBotRight .ctcBtn {font-family: 'Titillium Web';font-size: 25px;font-weight: 700;color: #fff;display: inline-block;padding: 12.5px 107.5px;background: linear-gradient(#101010,#000000);border: 1px solid transparent;transition: all 0.5s ease;}
.svcBotRight .ctcBtn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}
/* social-section */
#social-section{padding: 30px 0;}
.socialMedia {max-width: 560px; width: 100%;}
.socialMedia p {font-family: "Titillium Web"; font-size: 17px; color: #323232;margin: 0 auto;}
.social{font-size: 46px!important; color: #166DA9!important;letter-spacing: 10px;}
/* project-section */
#project-section{position: relative;padding:50px 0 50px;}
#project-section img.sArrow{position: absolute;top: 10px; left: 50%; transform: translateX(-50%);}
.project-Images{max-width: 347px; width: 100%; height: 207px;display: inline-block;vertical-align: top;margin: 10px 0;box-shadow: 10px 10px 40px -20px}
.project-Images.middle{margin: 10px 20px ;}
#project-section .botLogo img{margin-top: 20px;}
/* contact-details-section */
#contact-details-section{position: relative;max-width: 1100px; width: 100%;margin: 0 auto;background: url(../images/common/bg4.jpg)no-repeat center top; background-size: cover; padding: 45px 0 40px;margin-bottom: -65px;}
#contact-details-section img.sArrow{position: absolute;top: -15px; left: 50%; transform: translateX(-50%);}
#contact-details-section .inbTop{width: 33%;}
#contact-details-section .inbTop p{font-family: "Cinzel"; font-weight: 700; font-size: 18px; color:#fff; margin: 15px auto;}
#contact-details-section .cdsMid p:nth-child(2){font-size: 39px; margin:0 auto;}
/*footer*/
#footer {background: linear-gradient(#064A71,#1B77B9);padding: 95px 0 5px}
.footTop ul {margin: 0;padding: 0;text-align: center;}
.footTop ul li {display: inline-block;}
.footTop ul li a {font-family: "Titillium Web"; font-weight: 600; font-size: 17px ;color: #fff;letter-spacing: 2px}
#footer .copy, #footer .silver{font-family: "Titillium Web"; font-weight: 700; font-size: 13px ;color: #fff;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 80px 0}
.inner #content h2{color:#166DA9}
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
.inner-painting{text-align: left; max-width: 800px; margin: 20px auto;}
.inner-kitchen-remodel{text-align: left; max-width: 800px; margin: 20px auto;}
.inner-bathromm-remodel .desc{text-align: left; max-width: 800px; margin: 20px auto;}
.inner-decks-and-fencing{text-align: left; max-width: 800px; margin: 20px auto;}
.inner-roofing-and-siding{text-align: left; max-width: 800px; margin: 20px auto;}
